.center-content {
  display: flex;
  align-items: center; /* Vertically centers the SVG and text */
}

.center-content svg {
  margin-right: 8px; /* Adds space between the SVG and text */
}


.event-right-spacing {
  margin: 0 0 0 40px;
}
