<div>
  <div class="center-content">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="git-commit" width="32px" height="32px" color="black">
      <rect width="256" height="256" fill="none"></rect>
      <circle cx="128.002" cy="128" r="52" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="16"></circle>
      <line x1="8.002" x2="76.002" y1="128" y2="128" fill="none" stroke="white" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
      <line x1="180.002" x2="248.002" y1="128" y2="128" fill="none" stroke="white" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
    </svg>
    <p class="font-bold" style="display: inline; margin: 5px 0 5px 0">{{ eventName }}</p>
  </div>
  <p class="event-right-spacing">Faculty of Automatic Control and Computers</p>
  <p class="event-right-spacing">Interval: {{ start }} - {{ end }}</p>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
  </svg>

</div>

