<article class="ml-6 relative " [ngClass]="{'changelog-line': isNotLast}">
  <div class="lg:grid lg:grid-flow-col md:grid md:grid-flow-col lg:grid-cols-3 md:grid-cols-3">
    <div>
      <div [ngClass]="{'sticky top-0': isNotLast}">
        <div class="flex items-center dark:bg-slate-900 bg-white">
          <img ngSrc="git-commit.svg" alt="event" height="32" width="32" class="svg-theme dark:svg-theme ">
          <p class="inline ml-1.5 mt-1 font-extrabold text-3xl">{{ eventName }}</p>
        </div>
        <p class="ml-10 mt-1 text-xl">{{place}}</p>
        <div class="flex items-center ml-10">
          <img ngSrc="calendar.svg" alt="event" height="24" width="24" class="svg-theme dark:svg-theme"/>
          <p class="inline ml-4 mt-1 ">{{ start }} - {{ end }}</p>
        </div>
        <ng-content select="button"></ng-content>
      </div>
    </div>

    <div class="pt-1.5 pl-10 pr-10 grid-cols-subgrid col-span-2">
      <ng-content>

      </ng-content>
    </div>
  </div>

</article>

