<app-event [eventName]="education.degree" [place]="placeOfEducation"
          start="{{education.timePeriod?.startDate}}"
          end="{{education.timePeriod?.endDate}}"
          [isNotLast]="isNotLast">
  <div>

    <span class="font-bold">Description:</span>
    <p>{{education.description}}</p>
    <span class="font-bold">Achievements:</span>
    <ul class="list-disc pl-10 pb-2">
      @for (achievement of education.achievements; track achievement) {
        <li>{{achievement}}</li>
      }
    </ul>
    <span class="font-bold">Diploma Project Grade: </span>
    <span>{{education.finalGrade}}</span>

  </div>



</app-event>
