<app-theme-selector></app-theme-selector>
@if (resumeData) {
  <app-section>
    <img src="profile-picture.jpeg" class="w-96 pt-10 ml-auto mr-auto block" style="border-radius: 50% "
         alt="Me at Duomo di Milano"/>
    <div class="text-center pt-5">
      <app-dynamic-typing staticText="I'm" [textToAnimate]="['a Software Engineer', 'an Open Source Enthusiast']"></app-dynamic-typing>
    </div>
  </app-section>
  <app-section sectionName="About" class="grid place-items-center px-5">
    <p>
      I’m a {{ age }}-year-old team lead and software engineer, blending practical systems engineering skills with
      strategic team
      leadership. My master’s degree in AI adds depth to my technical background, making me open to incorporating
      innovative AI-driven approaches where they align with project goals.
    </p>
  </app-section>
  <app-section sectionName="Experience" class="grid place-items-center">
    @for (job of resumeData.experience; track job.jobDescription) {
      <app-job-position [job]="job" [isNonLast]="$index !== $count - 1"></app-job-position>
    }
  </app-section>
  <app-section sectionName="Education" class="grid place-items-center">
    @for (education of resumeData.education; track education) {
      <app-education-degree [education]="education" [isNotLast]="$index !== $count - 1">

      </app-education-degree>
    }
  </app-section>
  <app-section sectionName="Online Courses" class="grid place-items-center"></app-section>
}

