<div>
  <app-event *ngFor="let education of resumeData?.education; let i=index"
             [eventName]="education.degree"
             [institution]="education.faculty"
             start="{{education.timePeriod?.startDate}}"
             end="{{education.timePeriod?.endDate}}" [isNotLast]="i == 0"></app-event>
</div>

<div>

  <app-event *ngFor="let job of resumeData?.experience; let i=index"
             [eventName]="job.position"
             [institution]="job.company"
             start="{{job.timePeriod?.startDate}}"
             end="{{job.timePeriod?.endDate}}" [isNotLast]="i == 0"></app-event>
</div>


<button (click)="changeTheme()" class="border-opacity-100
bg-white dark:bg-amber-500
 rounded-sm" type="button">Change Theme</button>
