<div class="mb-5">



  <app-event [eventName]="job.position" [place]="job.company"
             start="{{job.timePeriod?.startDate}}"
             end="{{job.timePeriod?.endDate}}"
             [isNotLast]="isNonLast">
    <div>
      <span class="font-bold">Responsibilities:</span>
      <ul class="list-disc pl-10 pb-2">
        @for (r of job.jobDescription.responsibilities; track r) {
          <li>{{r}}</li>
        }
      </ul>

      <span class="font-bold">Achievements:</span>
      <ul class="list-disc pl-10 pb-2">
        @for (a of job.jobDescription.achievements; track a) {
          <li>{{a}}</li>
        }
      </ul>

      <span class="font-bold">Tech Stack: </span>
      @for (tech of job.jobDescription.techStack; track tech) {
        <span>{{ tech }}</span>
        @if ($index !== $count - 1) {
          <span>, </span>
        }
      }


    </div>

  </app-event>
</div>
